*{
    padding:0;
    margin: 0;
}

.navbar ul {
    list-style: none;    
    display: flex;     
    gap: 40px;           
    justify-content: center;
    border: solid 1px rgb(101, 97, 97);
    padding: 15px;
}
.navbar a {
    color: black;
    font-size: 18px;
}

.navbar a:hover {
    color: gray;
}

.title-container{
    height: 70vh;
    padding: 0px 10vw;
    background-image: url('https://images.unsplash.com/photo-1596383038607-c4f20c056ec2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.title{
    position:absolute;
   margin-top: 80px;
   color:rgb(9, 9, 9)
}
.title>h1{
    font-size: 40px;
    width: 400px;
    border-bottom: solid 3px rgb(255, 255, 255);
    padding-bottom: 20px;
}
.title>p{
    margin-top: 40px;
    width: 250px;
    font-size: 18px;
}
.title>button{
    font-size: 17px;
    padding: 15px 35px;
    height: 30px;
    border: 2px solid #717071;
    background:rgb(246, 245, 245);
    color: rgb(0, 0, 0);
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.intro>h1{
    margin-bottom: 50px;
    font-size: 40px;
    background-color: #e5d4d4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.intro>p{
    width: 550px;
    font-size: 18px;
    margin-bottom: 30px;
}
.intro>h2{
    font-size: 26px;
    margin-top:0px;
}
#adress{
    margin-top: 10px;
    width: 150px;
    margin-bottom: 20px;
}
#online{
    margin-top: 5px;
    width: 250px;
    margin-bottom: 30px;
}
.jane-text{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:150px
}
.text{
    width: 550px;
}
.text>h1{
    margin-bottom: 30px;
}
.text>p{
    margin-bottom: 15px;
}
.jane-title{
    margin-bottom: 50px;
    background-color: #e5d4d4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-top: 50px;
}

.fashion-feature {
    background-color: #3e3e3e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10vw;
    gap: 60px;
    margin-top: 150px;
}

.feature-text {
    color: white;
    width: 300px;
    position: relative;
}

.feature-text>h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.feature-text>p {
    font-size: 14px;
    color: #ddd;
}

.vertical-text {
    position: absolute;
    left: -60px;
    top: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 12px;
    letter-spacing: 2px;
    color: #aaa;
}

.feature-image img {
    width: 600px;
    height: auto;
    object-fit: cover;
}

.footer-newsletter {
    margin-top: 150px;
    background-color: #d9d9d9;
    width:98%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-newsletter h3 {
    font-size: 20px;
    color:black;
}

.newsletter-box {
    display: flex;
    gap: 10px;
}

.newsletter-box input {
    padding: 10px 15px;
    border: 1px solid #b5b5b5;
    background: white;
    outline: none;
}

.newsletter-box button {
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    background-color: #f7f7f7;
    border: none;
    cursor: pointer;
}
footer {
    margin-top: 100px;
    background: #515151;
    color: white;
    padding-bottom: 50px;
}
  
.footer-title {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
.footer-title h4 {
    font-size: 24px;
  }
  
.footer-main {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }