*{
    padding:0;
    margin: 0;
}

.navbar ul {
    list-style: none;    
    display: flex;     
    gap: 40px;           
    justify-content: center;
    border: solid 1px rgb(101, 97, 97);
    padding: 15px;
}
.navbar a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.navbar a:hover {
    color: gray;
}
.product-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap:250px
}
.description{
    margin-bottom: 100px;
    font-family: 'Playfair Display', serif;
}
#price{
    margin-top: 10px;
    border-bottom: solid 3px #c1bec1;
    padding-bottom: 20px;
    font-size: 18px;
}
#size{
    font-size: 18px;
    margin-left:190px ;
    margin-bottom: 10px;
    margin-top: 40px;
    
}
#small{
    font-size: 17px;
    padding: 5px;
    height: 30px;
    border: 2px solid #c1bec1;
    background:rgb(246, 245, 245);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 400px;
}
#quantity{
    margin-top: 30px;
    margin-left: 170px;
    font-size: 18px;
    margin-bottom: 30px;
}
#cart{
    margin-top: 50px;
    font-size: 17px;
    padding: 15px 35px;
    padding-left: 150px;
    height: 30px;
    border: 2px solid #858285;
    background: #c1bec1;;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 400px;
    margin-bottom: 40px;
}

.policy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    margin-top: 100px;
}
.shipping{
    border: 3px solid #c1bec1 ;
}
.shipping>h3{
    margin-bottom: 5px;
    margin-left: 50px;
}
.shipping>p{
    margin-bottom: 5px;
}

.payment{
    border: 3px solid #c1bec1 ;
}
.payment>h3{
    margin-bottom: 5px;
    margin-left: 30px;
}
.payment>p{
    margin-bottom: 5px;
}

.returns{
    border: 3px solid #c1bec1 ;
}
.returns>h3{
    margin-bottom: 5px;
    margin-left: 50px;
}
.returns>p{
    margin-bottom: 5px;
}
.premium{
    border: 3px solid #c1bec1 ;
}
.premium>h3{
    margin-bottom: 5px;
    margin-left: 30px;
}
.premium>p{
    margin-bottom: 5px;
}
.recommand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    color:  #9e989e;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}

.products{
    display: flex;
    justify-content: space-evenly;
    gap:40px;
    padding-top: 50px;
    font-size: 18px;
}
.picture{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.footer-subscribe {
    margin-top: 150px;
    background-color: #d4ccd4;
    width:98%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-subscribe h3 {
    font-size: 20px;
    color:black;
}

.subscribe-box {
    display: flex;
    gap: 10px;
}

.subscribe-box input {
    padding: 10px 15px;
    border: 1px solid #b5b5b5;
    background: white;
    outline: none;
}

.subscribe-box button {
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    background-color: #f7f7f7;
    border: none;
    cursor: pointer;
}

footer {
    margin-top: 100px;
    background: #515151;
    color: white;
    padding-bottom: 50px;
}
  
.footer-title {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
.footer-title h4 {
    font-size: 24px;
  }
  
.footer-main {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  
  @media (max-width: 768px) {
    .product-text {
        flex-direction: column;
        gap: 50px;
        margin-top: 60px;
        padding: 0 6vw;
    }

    .description {
        margin-bottom: 40px;
        text-align: center;
    }

    #price {
        text-align: center;
    }

    #size,
    #quantity {
        margin-left: 0;
        text-align: left;
    }

    #small,
    #cart {
        width: 100%;
        max-width: 350px;
        margin: 10px auto;
    }

    #cart {
        padding-left: 0;
        justify-content: center;
    }
    .policy {
        flex-direction: column;
        gap: 30px;
        margin-top: 60px;
        align-items: center;
    }

    .shipping, .payment, .returns, .premium {
        width: 90%;
        padding: 15px;
    }

    .shipping>h3, .payment>h3, .returns>h3, .premium>h3 {
        margin-left: 10px;
        text-align: left;
    }
    .recommand {
        font-size: 20px;
        margin-top: 100px;
        text-align: center;
        padding: 0 5vw;
    }

    .products {
        flex-direction: column;
        gap: 25px;
        padding-top: 30px;
        align-items: center;
    }

    .picture {
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .footer-subscribe {
        flex-direction: column;
        text-align: center;
        padding: 30px 15px;
        gap: 20px;
    }

    .subscribe-box {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .subscribe-box input, .subscribe-box button {
        width: 100%;
        max-width: 350px;
    }

    footer {
        padding-bottom: 40px;
    }

    .footer-title {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

