* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

.contact-section {
  padding: 60px 0;
}

.contact-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}


.contact-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.contact-form {
  padding: 20px;
}

.small-title {
  font-size: 12px;
  letter-spacing: 2px;
  color: #bfa5a0;
  margin-bottom: 10px;
}

.contact-form h2 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #333;
}

form input,
form textarea {
  width: 100%;
  border: none;
  background: #f3f0ee;
  padding: 14px;
  margin-bottom: 15px;
  font-size: 14px;
}

form textarea {
  resize: none;
  height: 120px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

button {
  width: 100%;
  padding: 14px;
  background: #e3c7bf;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #d4b2aa;
}


@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}
