* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f6d6da;
}

.promo {
  padding: 60px 20px;
}

.promo-box {
  max-width: 1200px;
  margin: auto;
  background: #f6d6da;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  gap: 40px;
}

.promo-left h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
  max-width: 260px;
}

.socials {
  display: flex;
  gap: 12px;
}

.socials i {
  width: 36px;
  height: 36px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.promo-center h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.promo-center p {
  font-size: 14px;
  color: #444;
  max-width: 300px;
}
.promo-right img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 4px;
}


@media (max-width: 900px) {
  .promo-box {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .promo-center p,
  .text {
    margin: auto;
  }

  .socials {
    justify-content: center;
  }
}
